.about {
    text-align: center;
}

.about__bio {
    max-width: 750px;
    width: 90%;
    margin: 1.25em auto 2.5em auto;
}

.about__text {
    font-size: 1.125em;
    line-height: 1.875rem;
}

.about__subtitle {
    font-size: 1em;
    font-family: var(--font-title);
    font-weight: normal;
    color: var(--white);
}

.about__tags {
    display: flex;
    justify-content: center;
    gap: 0.625em;
    margin: auto;
    margin-top: 1.25em;
}

.about__tag {
    padding: 0.375rem 0.625rem;
    font-size: 0.75em;
    background: rgba(103, 58, 183, 0.15);
    border: 1px solid var(--purple);
    border-radius: 0.5rem;
    color: var(--purple);
}