.card {
    max-width: 380px;
    padding: 1.25em;
    background: linear-gradient(135deg, rgba(24,24,27,1) 0%, rgba(9,9,11,0)) 100%;
    border: 1px solid #18181B;
    border-bottom: none;
    border-radius: 0.625em;
    transition: 0.4s all ease;
}

.card:hover {
    background: linear-gradient(135deg, rgba(24,24,27,1) 50%, rgba(9,9,11,0)) 100%;
}

.card__heading {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.card__image {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}

.card__title {
    font-size: 1.125rem;
    color: var(--primary-text);
}

.card__description {
    margin-top: 1.25rem;
    color: var(--secundary-text);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.card__link {
    display: block;
    font-size: 0.75rem;
    color: var(--primary-text);
    margin-top: 1.875rem;
}