.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__container {
    max-width: 32.5rem;
}

.contact__heading .heading-2 {
    color: var(--white);
}

.contact__socials .subtitle {
    font-size: 1rem;
    color: var(--gray);
}

.contact__heading .legend {
    margin-bottom: 2.375rem;
}

.contact__heading .heading-2 {
    font-weight: 600;
}

.contact__socials {
    margin-top: 2.375rem;
    text-align: center;
}

.contact__list {
    margin-top: 1.25rem;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

.contact__item a {
    font-size: 1.125rem;
    color: var(--gray);
}

@media screen and (max-width: 768px) {
    .contact {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .contact__aside {
        width: 100%;
    }
}