.contact__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.75em;
}

.contact__subtitle {
    font-weight: normal;
    color: var(--white);
    font-size: 1.125em;
}

.contact__list {
    margin-top: 1.25em;
    display: flex;
    justify-content: center;
    gap: 0.625em;
    list-style: none;
}

.contact__item a {
    font-size: 1.125em;
    color: var(--gray);
    transition: .2s all ease;
}

.contact__item a:hover {
    color: var(--white);
}

@media screen and (max-width: 768px) {
    .contact__container {
        flex-direction: column;
    }
}