.footer {
    margin-top: 6.25rem;
    padding: 1.5625rem 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copy {
    font-size: 0.875rem;
    color: var(--primary-text);
}

.footer__content {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.footer__links {
    display: flex;
    gap: 1.25rem;
}

.footer__item {
    font-size: 0.875rem;
    color: var(--secundary-color);
    transition: .2s all ease;
}

.footer__item.icon {
    font-size: 1.125rem;
}

.footer__item:hover {
    color: var(--primary-text);
}

@media screen and (max-width: 768px) {
    .footer__container {
        flex-direction: column;
        gap: 2.5rem;
    }

    .footer__content {
        flex-direction: column;
    }
}