/* Galery container */
.galery__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 0.9375em;
}

/* Projects card */
.project {
    aspect-ratio: 1 / 1;
    position: relative;
    border-radius: 0.5em;
    overflow: hidden;
}

.project__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left
}

.project__content {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba( 18, 18, 17, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s all ease-out;
}

.project__container {
    border: 1px solid var(--white);
    border-radius: 0.5em;
    width: 90%;
    height: 90%;
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project:hover .project__content {
    opacity: 1;
}

.project__title, .project__link {
    color: var(--white);
}

.project__title {
    font-family: var(--font-title);
    font-weight: normal;
    margin-bottom: 0.625rem;
}

.project__tags {
    display: flex;
    gap: 0.375em;
}

.project__tag {
    padding: 0.25rem 0.75rem;
    font-size: 0.75em;
    color: var(--black);
    background: var(--white);
    border-radius: 0.5rem;
}

.project__links {
    display: flex;
    gap: 0.375em;
}

.project__link {
    font-size: 0.75em;
    text-decoration: underline;
}