* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: var(--font-body);
    color: var(--secundary-text);
    background: var(--black);
}

input, button {
    font-family: var(--font-body);
}

/* Layout */
.container {
    max-width: 1120px;
    width: 90%;
    margin: auto;
}

section {
    margin-top: 6.25rem !important;
}

.col-3 {
    display: grid;
    gap: 1.25em;
    margin: 2.5em 0;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

/* Image */
img {
    max-width: 100%;
}

/* Text */
a {
    text-decoration: none;
}

.heading-1, .heading-2, .subtitle {
    color: var(--primary-text);
}

.heading-1 {
    font-size: 64px;
    font-weight: 600;
}

.heading-1 span {
    color: var(--purple);
}

.heading-2 {
    font-size: 2.25rem;
    font-family: var(--font-title);
}

.subtitle {
    font-size: 1.125rem;
    font-weight: 500;
}

.legend {
    max-width: 18.75rem;
}

/* Default button styles */
.button__primary {
    padding: 0.875rem 2.5rem;
    background: var(--purple);
    font-size: 0.875rem;
    color: var(--primary-text);
    outline: none;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
    transition: .2s all ease;
    box-shadow: 0px 0px 50px 0px rgba(116,119,255,0.5);
}

.button__primary:hover {
    background: #5c5fff;
    box-shadow: 0px 0px 40px 0px rgba(92,95,255,0.6);
}


.button__primary:active {
    transform: scale(0.9);
}
/* styles for devices with a size less than or equal to 640px */
@media screen and (max-width: 640px) {
    :root {
        font-size: 14px;
    }
}