* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: var(--font-body);
    color: var(--secundary-text);
    background: var(--black);
}

.container {
    max-width: 1120px;
    width: 90%;
    margin: auto;
}

a {
    text-decoration: none;
}

.btn-default {
    padding: 0.9375rem 2.5rem;
    font-size: 14px;
    color: var(--purple);
    background: rgba(103, 58, 183, 0.15);
    border: 1px solid var(--purple);
    border-radius: 3.125rem;
}