.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading__content {
    max-width: 31.25rem;
    text-align: center;
}

.heading__content .heading-1 span  {
    color: var(--purple);
}

.heading__description {
    margin: 2.5rem 0;
}