.hero {
    height: calc(100vh - 100px);
    display: flex;
    place-items: center;
}

.hero__container {
    max-width: 600px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__picture img {
    max-width: 6.25em;
    max-height: 6.25em;
    border-radius: 100%;
}

.hero__gretting {
    font-size: 0.875em;
    margin-top: 1.25rem;
}

.hero__title {
    margin: 3.125rem;
    font-family: var(--font-title);
    font-weight: normal;
    font-size: 3em;
    text-align: center;
    background: var(--black);
    background: linear-gradient(to right, #FAFAFA 0%, #1F1F1F 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 640px) {
    .hero {
        height: auto;
        margin: 3.75em auto;
    }



    .hero__title {
        font-size: 1.875em;
        margin: 1.875rem;
    }
}