.navbar {
    border-bottom: 1px solid var(--gray-dark);
    padding: 1.5625em 0;
}

.navbar__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    font-family: var(--font-title);
    font-size: 1.125em;
    color: var(--primary-text);
}

.navbar__links {
    display: flex;
    gap: 1.25em;
}

.navbar__item {
    font-size: 0.875em;
    color: var(--secundary-color);
    transition: .2s all ease;
}

.navbar__item.icon {
    font-size: 1.125em;
}

.navbar__item:hover {
    color: var(--primary-text);
}

.navbar__button {
    display: none;
    font-size: 1.125em;
    color: var(--secundary-color);
    background: transparent;
    border: none;
    outline: none;
    transition: .2s all ease;
}

.navbar__button.active {
    color: var(--primary-text);
}

@media screen and (max-width: 640px) {
    .navbar__links {
        display: none;
    }

    .navbar__links.active {
        position: absolute;
        right: 0;
        top: 1.5625em;
        min-width: 9.375em;
        display: flex;
        flex-direction: column;
        background: var(--black);
        border: 1px solid var(--gray-dark);
        padding: 0.9375em 1.25em;
        border-radius: 0.625em;
    }

    .navbar__links#social-menu {
        flex-direction: row;
        justify-content: space-between;
        top: 12.5em;
    }

    .navbar__button {
        display: block;
    }
}