.navbar {
    padding: 1.562rem 0;
}

.navbar__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__brand {
    display: flex;
    align-items: center;
}

.navbar__logo {
    font-family: var(--font-title);
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--primary-text);
}

.navbar__logo span {
    margin-right: 1rem;
    font-family: var(--font-body);
}

.navbar__links {
    display: flex;
    gap: 1rem;
}

.navbar__item {
    font-size: 0.875rem;
    color: var(--secundary-color);
    transition: .2s all ease;
}

.navbar__item.icon {
    font-size: 1.125rem;
}

.navbar__item:hover {
    color: var(--primary-text);
}

.navbar__button {
    display: none;
    font-size: 1.125rem;
    color: var(--secundary-color);
    background: transparent;
    border: none;
    outline: none;
    transition: .2s all ease;
}

.navbar__button.active {
    color: var(--primary-text);
}

@media screen and (max-width: 640px) {
    .navbar__links {
        display: none;
    }

    .navbar__links.active {
        position: absolute;
        right: 0;
        top: 1.5625rem;
        min-width: 9.375rem;
        display: flex;
        flex-direction: column;
        background: linear-gradient(135deg, rgba(24,24,27,1) 0%, rgba(9,9,11,1)) 100%;
        border: 1px solid #18181B;
        border-bottom: none;
        padding: 0.9375rem 1.25rem;
        border-radius: 0.625rem;
        z-index: 10;
    }

    .navbar__links#social-menu {
        flex-direction: row;
        justify-content: space-between;
        top: 140px;
    }

    .navbar__button {
        display: block;
    }
}