@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Sora:wght@400;600&display=swap');
@import url('./general.css');
@import url('./navbar.css');
@import url('./hero.css');
@import url('./building.css');
@import url('./productCard.css');
@import url('./card.css');
@import url('./form.css');
@import url('./contact.css');
@import url('./footer.css');
@import url('./heading.css');
@import url('./tabs.css');

:root {
    /* Colors */
    --black: #09090B;
    --white: #FAFAFA;
    --gray: #A1A1AA;
    --gray-dark: #27272A;
    --purple: #7477FF;

    /* Fonts */
    --font-title: 'Cabinet Grotesk', sans-serif;
    --font-body: 'Satoshi', sans-serif;
    --primary-text: var(--white);
    --secundary-text: var(--gray);
}