:root {
    /* ---- Pallete Color ---- */
    --neutral-950: #0a0a0a;
    --neutral-900: #171717;
    --neutral-400: #a3a3a3;
    --neutral-50: #fafafa;
    --violet-500: #8b5cf6;
    --violet-300: #c4b5fd;

    /* ---- Fonts ---- */
    --heading-font: 'Space Grotesk', sans-serif;;
    --body-font: 'Satoshi', sans-serif;

    /* ---- Default styles ---- */
    font-family: var(--body-font);
    font-size: 16px;
    color: var(--neutral-50);
    background: var(--neutral-950);
}

/* ---- General Styles ---- */
*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 800px;
    width: 90%;
    margin: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    outline: none;
}

img {
    max-width: 100%;
}

.heading {
    font-family: var(--heading-font);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}

.subheading {
    font-size: 1.5rem;
    font-weight: 500;
}

/* ---- Navbar component styles ---- */
.navbar {
    padding: 0.5rem 0;
    margin-top: 2.375rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 0.875rem;
}

.navbar-brand img {
    width: 1.5rem;
}

.navbar-brand span {
    font-weight: 500;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 0.875rem;
}

.navbar-item a {
    font-size: 0.875rem;
    color: var(--neutral-400);
    transition: all .2s ease;
}

.navbar-item a:hover {
    color: var(--neutral-50);
}

/* ---- Hero section styles ---- */
.hero {
    margin: 6.25rem 0;
}

/* ---- Projects section styles ---- */
.projects-container {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

/* ---- Project card styles ---- */
.card {
    display: block;
    padding: 1rem;
    border: 1px solid var(--neutral-900);
    border-radius: 0.5rem;
}

.card:hover {
    animation: border-animation 2s ease alternate forwards;
}

@keyframes border-animation {
    0% {
       border-top: 1px solid var(--violet-500); 
    }

    25% {
        border-left: 1px solid var(--violet-500);
    }

    50% {
        border-bottom: 1px solid var(--violet-500);
    }

    75% {
        border-right: 1px solid var(--violet-500);
    }

    100% {
        border-color: var(--violet-500);
    }
}

.card-heading {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card-name {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--neutral-50);
}

.card-active {
    display: inline-block;
    visibility: hidden;
    width: 0.5rem;
    height: 0.5rem;
    background: var(--violet-500);
    border-radius: 100%;
}

.card-active.is-active {
    visibility: visible;
}

.card-description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-clamp: 5;
    overflow: hidden;
    margin-top: 0.375rem;
    font-size: 0.875rem;
    color: var(--neutral-400);
}

/* ---- Skills section styles */
.skills {
    margin-top: 2.375rem;
}

.skills-container {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

/* ---- Skill tag styles ---- */
.tag {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.875rem;
    border: 1px solid var(--neutral-900);
    border-radius: 0.5rem;
}

.tag-text {
    font-size: 0.875rem;
}

.tag svg {
    width: 1.125rem;
    fill: var(--neutral-50);
}

/* ---- Contact section styles ---- */
.contact, .contact-container {
    margin-top: 2.375rem;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---- Contact button styles ---- */
.btn-contact {
    margin: 2.375rem 0;
    padding: 0.75rem 1.5rem;
    width: max-content;
    display: inline-flex;
    align-items: center;
    gap: 0.875rem;
    font-size: 0.875rem;
    color: var(--neutral-50);
    background: var(--violet-500);
    background: radial-gradient(circle at 50% 0%, var(--violet-300) 0%, var(--violet-500) 50%);
    border: 1px solid var(--violet-300);
    border-bottom: none;
    border-radius: 0.5rem;
    transition: all .2s ease;
}

.btn-contact:hover {
    background: radial-gradient(circle at 50% 0%, var(--violet-300) 0%, var(--violet-500) 80%);
}

.btn-contact svg {
    width: 1.5rem;
}

/* ---- Social list styles ---- */
.social-caption {
    margin-bottom: 0.875rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--neutral-400);
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.875rem;
}

.social-item a svg {
    width: 1.125rem;
    fill: var(--neutral-50);
}

/* ---- Footer styles ---- */
.footer {
    margin-top: 6.25rem;
    margin-bottom: 2.375rem;
}

.footer-copy {
    text-align: center;
    font-size: 0.875rem;
    color: var(--neutral-400);
}