@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Sora&display=swap');
@import url('./general.css');
@import url('./navbar.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./galery.css');
@import url('./card.css');
@import url('./form.css');
@import url('./contact.css');
@import url('./footer.css');

:root {
    /* Colors */
    --black: #121211;
    --white: #FAFAFA;
    --gray: #C1C0BE;
    --gray-dark: #1C1D1B;
    --purple: #673AB7;

    /* Fonts */
    --font-title: 'Sora', sans-serif;
    --font-body: 'Manrope', sans-serif;
    --primary-text: var(--white);
    --secundary-text: var(--gray);
}