---
import ContactData from '../../data/home.json'
import Form from "../ui/Form.astro";
---
<section class="contact container" id="contact">
    <div class="contact__aside">
        <figure class="contact__picture">
            <img src="/guardin-site/bg-contact-section.jpg" alt="" class="contact__img">
        </figure>
        <div class="contact__content">
            <div class="contact__heading">
                <p class="legend">{ContactData.contact.legend}</p>
                <h2 class="heading-2">{ContactData.contact.title}</h2>
            </div>
            <div class="contact__socials">
                <p class="subtitle">Encuentrame tambien en:</p>
                <ul class="contact__list">
                    {ContactData.contact.social.map(icon => (
                        <li class="contact__item"><a href={icon.url} class={icon.icon}></a></li>
                    ))}
                </ul>
            </div>
        </div>
    </div>
    <Form></Form>    
</section>