---
import ContactData from '../../data/home.json'
import Form from "../ui/Form.astro";
---
<section class="contact container" id="contact">
    <div class="contact__container">
        <div class="contact__heading">
            <h2 class="heading-2">{ContactData.contact.title}</h2>
            <p class="legend">{ContactData.contact.legend}</p>
        </div>
        <Form></Form>
        <div class="contact__socials">
            <p class="subtitle">Encuentrame tambien en:</p>
            <ul class="contact__list">
                {ContactData.contact.social.map(icon => (
                    <li class="contact__item"><a href={icon.url} class={icon.icon}></a></li>
                ))}
            </ul>
        </div>
    </div>
</section>