---
import HeroData from '../../data/home.json'
---

<div class="hero container">
    <figure class="hero__background">
        <img src="/pattern.svg" alt="Pattern" class="hero__image">
    </figure>
    <div class="hero__content">
        <h1 class="hero__title heading-1">{HeroData.hero.title}</h1>
        <a href="#contact" class="button__primary" role="link">¡Hablemos!</a>
    </div>
</div>