---
import HeroData from '../../data/home.json'
---

<div class="hero container">
    <figure class="hero__background">
        <img src="/bg-hero-section.jpg" alt="" class="hero__image">
    </figure>
    <div class="hero__content">
        <p class="hero__greeting">{HeroData.hero.greeting}</p>
        <h1 class="hero__title heading-1">{HeroData.hero.title}</h1>
        <a href="#contact" class="button__primary">¡Hablemos!</a>
    </div>
</div>