---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import ProductCard from '../components/ProductCard.astro';
import PostCard from '../components/PostCard.astro';
import Form from '../components/Form.astro';
---

<Layout title="Welcome to Astro.">
	<Navbar></Navbar>
	<!-- Hero section -->
	<div class="hero">
		<div class="hero-container">
			<div class="hero-content">
				<h1 class="hero-title">¡Hola! soy Alam<br><span>Web Developer y mas...</span></h1>
				<p class="hero-description">Inicie en el mundo del desarrollo; Ahora quiero probar otras cosas... como crear contenido, diseño, negocios en línea etc.</p>
			</div>
			<div class="hero-picture">
				<div class="hero-image">
					<!-- IMG -->
				</div>
			</div>
		</div>
	</div>
	<!-- Main content -->
	<main>
		<!-- Lasts products -->
		<section class="section">
			<h2 class="section-title">Creando...</h2>
			<div class="section-content">
				<ProductCard 
					href="#"
					title="Mi product"
					description="This is my new product, its free and learning ease"
				></ProductCard>
				<ProductCard 
					href="#"
					title="Other Product"
					description="Other product for earn money, becuase i don't have munch money"
				></ProductCard>
			</div>
			<a href="#" class="section-link">Ver mas productos</a>
		</section>
		<!-- Last Posts -->
		<section class="section">
			<h2 class="section-title">Ultimos articulos</h2>
			<div class="section-content col-3">
				<PostCard
					href="#"
					title="This is mi title for mi new article"
					description="Its a article about UI/UX, Data Science, Product Design, Programming and Computer Science for beginner in new technologies"
				></PostCard>
				<PostCard
					href="#"
					title="This is mi title for mi new article"
					description="Its a article about UI/UX, Data Science, Product Design, Programming and Computer Science for beginner in new technologies"
				></PostCard>
				<PostCard
					href="#"
					title="This is mi title for mi new article"
					description="Its a article about UI/UX, Data Science, Product Design, Programming and Computer Science for beginner in new technologies"
				></PostCard>
			</div>
			<a href="#" class="section-link">Ver mas productos</a>
		</section>
	</main>
	<!-- Footer -->
	<footer class="footer">
		<div class="footer-container">
			<div class="footer-content">
				<div class="footer-social">
					<a href="#">
						<i class='bx bxl-twitter'></i>
					</a>
					<a href="#">
						<i class='bx bxl-instagram-alt' ></i>
					</a>
					<a href="#">
						<i class='bx bxl-github' ></i>
					</a>
				</div>
				<div class="footer-links">
					<a href="#">Inicio</a>
					<a href="#">Blog</a>
					<a href="#">Productos</a>
				</div>
				<div class="footer-author">
					<p class="footer-copy">&copy; 2023 Alam Guardin. All Rights Reserved.</p>
				</div>
			</div>
			<div class="footer-form">
				<Form></Form>
			</div>
		</div>
	</footer>
</Layout>

<style>
	/* Hero Styles */
	.hero-container {
		max-width: 1120px;
		min-height: calc(100vh - 100px);
		width: 90%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.hero-content {
		max-width: 500px;
	}

	.hero-title {
		font-size: 2.25em;
	}

	.hero-title span {
		background: linear-gradient(90deg, var(--secundary), var(--divider));
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.hero-description {
		color: var(--secundary);
		margin-top: 1.25em;
	}

	.hero-image {
		width: 450px;
		height: 500px;
		background: var(--secundary);
		border-radius: 10px;
	}

	/* Products section styles */
	.section {
		max-width: 1120px;
		width: 90%;
		margin: auto;
		margin-bottom: 2.5em;
	}

	.section-title {
		font-size: 1.5em;
	}

	.section-content {
		margin: 2.5em 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}

	.section-content.col-3 {
		grid-template-columns: repeat(3, 1fr);
	}


	.section-link {
		font-size: 0.875em;
		font-weight: 600;
		color: var(--primary);
		text-decoration: underline;
	}

	/* Footer styles */
	.footer {
		max-width: 1120px;
		margin: auto;
		margin-bottom: 2.5em;
		background: var(--divider);
		border-radius: 0.625em;
	}

	.footer-container {
		padding: 3.75em;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.footer-social, .footer-links {
		display: flex;
        gap: 1.25em;
	}

	.footer-links {
		margin: 2.5em 0 1.25em 0;
	}

	.footer-social a {
		font-size: 1.5em;
        color: var(--secundary);
        transition: color 0.2s ease;
	}

	.footer-links a {
		font-size: 0.875em;
        color: var(--secundary);
        transition: color 0.2s ease;
	}

	.footer-social a:hover, .footer-links a:hover {
		color: var(--primary);
	}

	.footer-copy {
		font-size: 0.875em;
		color: var(--secundary);
	}
</style>
