<section class="about">
    <h2 class="subtitle">Sobre mi</h2>
    <div class="about__bio">
        <p class="about__text">⚡️ ¡Hola! Mi nombre es Alam y soy desarrollador web. Me gusta adquirir conocimientos trabajando en proyectos personales. Mi objetivo es colaborar en  proyectos para ganar experiencia y aportar valor con lo que he aprendido. A pesar de que en la actualidad no poseo experiencia laboral en el sector, mis mejores aliados son mi entusiasmo y dedicación. ¡Espero poder colaborar contigo!</p>
    </div>
    <div class="about__skills">
        <h3 class="about__subtitle">Habilidades</h3>
        <div class="about__tags">
            <span class="about__tag">Html/Css</span>
            <span class="about__tag">Javascript</span>
            <span class="about__tag">React</span>
            <span class="about__tag">Sass</span>
            <span class="about__tag">Astro</span>
        </div>
    </div>
</section>