---
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<div class="article">
    <a href="#">
        <h3 class="article__title">Lorem ipsum dolor sit amet</h3>
        <p class="article__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, incidunt possimus eum mollitia aliquid, blanditiis doloribus soluta, et quia porro maxime cum iure! Quas sapiente blanditiis ducimus sequi. A, animi!</p>
        <i class='bx bx-right-arrow-alt'></i>
    </a>
</div>

<style>
    .article {
        position: relative;
        border: 1px solid var(--accent);
        padding: 1.25em;
        border-radius: 0.625em;
    }

    .article__title, .article__description {
        font-size: 0.875em;
        font-weight: normal;
    }

    .article__title {
        color: var(--primary-text);
    }

    .article__description {
        color: var(--secundary-text);
        margin: 1.25rem 0 2.5rem 0;
    }

    .article i {
        position: absolute;
        bottom: 1.25rem;
        right: 1.25rem;
        font-size: 1.5em;
        color: var(--secundary-text);
        transform: rotate(-45deg);
        transition: .2s all ease;
    }

    .article:hover i {
        color: var(--primary-text);
    }
</style>