---
import products from '../data/products.json'
import Card from './Card.astro';

const allProducts = products.list
---

<section class="container" id="products">
    <h2 class="subtitle">Construyendo</h2>
    <div class="col-2">
        {allProducts.map((product) => (
            <Card
            url={product.url}
            image={product.img}
            title={product.title}
            description={product.description}
            ></Card>
        ))}
    </div>
</section>