---
import Form from "./Form.astro";
---
<section class="container">
    <h2 class="subtitle">Contactame</h2>
    <div class="contact__container">
        <Form></Form>
        <div class="contact__social">
            <h3 class="contact__subtitle">También me puedes encontrar en:</h3>
            <ul class="contact__list">
                <li class="contact__item">
                    <a href=""><i class="ri-github-fill"></i></a>
                </li>
                <li class="contact__item">
                    <a href=""><i class="ri-dribbble-line"></i></a>
                </li>
                <li class="contact__item">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                </li>
                <li class="contact__item">
                    <a href=""><i class="ri-instagram-fill"></i></a>
                </li>
                <li class="contact__item">
                    <a href=""><i class="ri-linkedin-fill"></i></a>
                </li>
            </ul>
        </div>
    </div>
</section>