<form action="" class="form">
    <div class="form__input">
        <input type="text" class="form__control" required>
        <label for="" class="form__label">Nombre Completo</label>
    </div>
    <div class="form__input">
        <input type="email" class="form__control" required>
        <label for="" class="form__label">Correo Electronico</label>
    </div>
    <div class="form__input">
        <textarea class="form__control" required></textarea>
        <label for="" class="form__label">Mensaje</label>
    </div>
    <div class="form__submit">
        <button type="submit" class="btn-default">Enviar</button>
    </div>
</form>