---
import userImage from '../assets/img-user.jpeg'
---

<div class="hero container">
    <div class="hero__container">
        <figure class="hero__picture">
            <img src={userImage.src} alt="Alam Guardin, Desarrollador de Software">
            <figcaption class="hero__gretting">¡Hola! Soy Alam 👋</figcaption>
        </figure>
        <h1 class="hero__title">Contruyendo Productos digitales, Webs y experiencia</h1>
        <a href="#" class="btn-default">Saber más</a>
    </div>
</div>