---
import Logo from '../assets/guardin-logo.svg';
---

<header class="navbar">
    <nav class="navbar-container">
        <div class="navbar-brand">
            <img src={Logo.src} alt="Alam Guardin Logo">
            <span>Guardin</span>
        </div>
        <ul class="navbar-links">
            <li class="navbar-item"><a href="#proyects">Proyectos</a></li>
            <li class="navbar-item"><a href="#contact">Contacto</a></li>
        </ul>
    </nav>
</header>