<header class="navbar">
    <nav class="navbar-content">
        <div class="navbar-brand">
            <a href="#">Guardin.</a>
        </div>
        <div class="navbar-links">
            <a href="#">Inicio</a>
            <a href="#">Blog</a>
            <a href="#">Productos</a>
        </div>
        <div class="navbar-social">
            <a href="#">
                <i class='bx bxl-twitter'></i>
            </a>
            <a href="#">
                <i class='bx bxl-instagram-alt' ></i>
            </a>
            <a href="#">
                <i class='bx bxl-github' ></i>
            </a>
        </div>
    </nav>
</header>

<style>
    .navbar {
        width: 100%;
    }

    .navbar-content {
        max-width: 1120px;
        width: 90%;
        margin: 1.875em auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-brand a {
        font-size: 1.125em;
        color: var(--primary);
        font-weight: 600;
    }

    .navbar-links, .navbar-social {
        display: flex;
        gap: 1.25em;
    }

    .navbar-links a {
        font-size: 0.875em;
        color: var(--secundary);
        transition: color 0.2s ease;
    }

    .navbar-social a {
        font-size: 1.5em;
        color: var(--secundary);
        transition: color 0.2s ease;
    }

    .navbar-links a:hover, .navbar-social a:hover {
        color: var(--primary)
    }
</style>