---
const { href, title, description } = Astro.props;
---
<div class="post">
    <figure class="post-picture">
        <!-- Img -->
    </figure>
    <div class="post-content">
        <h3 class="post-title">
            <a href={href}>{title}</a>
        </h3>
        <p class="post-description">{description}</p>
    </div>
</div>

<style>
    .post {
        background: var(--divider);
		padding: 1.25em;
		border-radius: 0.625em;
    }

    .post-picture {
        width: 100%;
        height: 200px;
        background: var(--secundary);
        border-radius: 0.5em;
    }

    .post-content {
        margin-top: 1.25em;
    }

    .post-title a {
        font-size: 1.5em;
        color: var(--primary);
    }

    .post-title a:hover {
        text-decoration: underline;
    }

    .post-description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        margin-top: 0.625rem;
        color: var(--secundary);
        font-size: 0.875em;
    }
</style>