---
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<div class="product">
    <a href="#">
        <div class="product__heading">
            <figure class="product__picture">
                <!-- <img src="" alt=""> -->
            </figure>
            <div class="product__line"></div>
        </div>
        <div class="product__body">
            <h3 class="product__title">{title}</h3>
            <p class="product__description">{description}</p>
        </div>
    </a>
</div>

<style>
    .product {
        border: 1px solid var(--accent);
        padding: 2.5em;
        border-radius: 0.625em;
    }

    .product__heading {
        display: grid;
        grid-template-columns: 64px 1fr;
        align-items: center;
        gap: 2.5em;
    }

    .product__picture {
        width: 64px;
        height: 64px;
        border-radius: 100%;
        background: var(--accent);
    }

    .product__decorator {
        width: 100%;
    }

    .product__line {
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, #1F1F1F, #FAFAFA, #1F1F1F);
    }

    .product__body {
        margin-top: 2.5em;
    }

    .product__title {
        font-size: 1em;
        font-weight: normal;
        color: var(--primary-text);
        margin-bottom: 1.25em;
    }

    .product__description {
        color: var(--secundary-text);
    }
</style>