---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

	:root {
		/* Pallete */
		--primary: #FAFAFA;
		--secundary: #C0C1BE;
		--accent: #121211;
		--divider: #1C1D1B;

		/* Basic styles */
		font-family: 'Montserrat', Arial, Helvetica, sans-serif;
		font-size: 16px;
		background: var(--accent);
		color: var(--primary);

	}

	*, *::after, *::before {
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
	}
</style>
