---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: Sora;
		src: url(../../fonts/Sora-Regular.ttf);
	}

	@font-face {
		font-family: Manrope;
		src: url(../../fonts/Manrope-Regular.ttf);
	}

	@font-face {
		font-family: Manrope-semibold;
		src: url(../../fonts/Manrope-SemiBold.ttf);
	}

	:root {
		/* Basic styles */
		font-family: Manrope, Arial, Helvetica, sans-serif;
		font-size: 16px;
	}

	*, *::after, *::before {
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
	}
</style>
