<footer class="footer">
    <div class="footer__container container">
        <div class="footer__copyright">
            <p class="footer__copy">© 2023 Alam Guardin. All rights reserved.</p>
        </div>
        <div class="footer__content">
            <div class="footer__links">
                <a href="/" class="footer__item">Inicio</a>
                <!-- <a href="#" class="footer__item">Blog</a> -->
                <a href="/products" class="footer__item">Productos</a>
                <a href="https://bento.me/alam" class="footer__item">Portafolio</a>
            </div>
            <div class="footer__links">
                <a href="https://twitter.com/alamguardin" class="footer__item icon"><i class="ri-twitter-fill"></i></a>
                <a href="https://www.instagram.com/alamguardin/" class="footer__item icon"><i class="ri-instagram-fill"></i></a>
                <a href="https://github.com/alamguardin" class="footer__item icon"><i class="ri-github-fill"></i></a>
            </div>
        </div>
    </div>
</footer>