<header class="navbar">
    <nav class="navbar__container container">
        <div class="navbar__brand">
            <a href="/" class="navbar__logo">Guardin.</a>
        </div>
        <div class="navbar__links" id="links-menu">
            <a href="/" class="navbar__item">Inicio</a>
            <!-- <a href="https://dev.to/alamguardin" class="navbar__item">Blog</a> -->
            <a href="/products" class="navbar__item">Productos</a>
            <a href="https://bento.me/alam" class="navbar__item">Portafolio</a>
        </div>
        <div class="navbar__links" id="social-menu">
            <a href="https://twitter.com/alamguardin" class="navbar__item icon"><i class="ri-twitter-fill"></i></a>
            <a href="https://www.instagram.com/alamguardin/" class="navbar__item icon"><i class="ri-instagram-fill"></i></a>
            <a href="https://github.com/alamguardin" class="navbar__item icon"><i class="ri-github-fill"></i></a>
        </div>
        <button class="navbar__button" id="menu-switch-button">
            <i class="ri-menu-3-line"></i>
        </button>
    </nav>
</header>

<script>
    const linksMenu = document.getElementById('links-menu')
    const socialMenu = document.getElementById('social-menu')
    const menuSwitchButton = document.getElementById('menu-switch-button')

    menuSwitchButton.addEventListener('click', () => {
        menuSwitchButton.classList.toggle('active')
        linksMenu.classList.toggle('active')
        socialMenu.classList.toggle('active')
    })
</script>