---
import TabsItems from '../../data/products.json'
---

<div class="tabs">
    <ul class="tabs__list">
        {TabsItems.tabs.items.map(item => (<li class="tabs__item" id={item}>{item}</li>))}
    </ul>
</div>
